@charset "utf-8";
/* CSS Document */

/* =======================================
	majime - toppage
======================================= */

/*  common 
----------------------------------------------------------------------------------*/

body {
	margin: 0;
	padding: 0;
	color: #333;
	background:url(../img/bg_m.gif);
	font-family: 'Hiragino Kaku Gothic ProN', Meiryo, 'MS PGothic', Sans-serif;
    font-size: 12px;
    line-height: 1.3;
    font-weight: normal;
	word-break: break-all;
}


/*////////// h2 //////////*/

.majime .ttl h2 {
	margin:0;
	color:#FFF;
	font-size:0;
	text-indent:-9999px;
}

/*//////////  box //////////*/

.majime .sideL .box, .majime .cntC .box {
	margin:0 0 20px 0;
	background:#FFF;
	overflow:hidden;
	position:relative;
}
.majime .sideR .box {
	margin:0 0 20px 0;
	overflow:hidden;
	position:relative;
}

.majime .cntC .box .descriptionTxt {
	margin:10px 10px 8px 10px;
	padding:10px;
	background:#F7CFCF;
	border-radius: 7px;        /* CSS3草案 */  
    -webkit-border-radius: 7px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 7px;   /* Firefox用 */ 
	font-size:11px;
}

/*//////////  button //////////*/

.majime .sideL .miniBtn { top:20px;	right:58px;}
.majime .cntC .miniBtn { top:12px;	right:10px;}


/*////////////////////////////////////////////////////////////////////////////////*/

/*  sideL 
----------------------------------------------------------------------------------*/

.majime .sideL {
	margin:0 25px 0 0;
	width:350px;
	float:left;
}


/*////////// title //////////*/

.majime .sideL .box .ttl {
	margin:0 0 10px 0;
	width:350px;
	height:45px;
	background:url(../img/ttl_side_l.jpg) no-repeat;
	color:#FFF;
	font-size:0;
	text-indent:-9999px;
}
.majime .sideL .box.topics .ttl /*--- トピックス ---*/ { background-position:0 0;}
.majime .sideL .box.newproduct .ttl /*--- 新商品情報 ---*/ { background-position:0 -45px;}
.majime .sideL .box.inspection .ttl /*--- 機種総評＆検証 ---*/ { background-position:0 -90px;}
.majime .sideL .box.claim .ttl /*--- お客様クレーム ---*/ { background-position:0 -135px;}
.majime .sideL .box.trouble .ttl /*--- トラブル＆不正情報 ---*/ { background-position:0 -180px;}
.majime .sideL .box.rival .ttl /*--- 競合情報 ---*/ { background-position:0 -225px;}


/*////////// list //////////*/

.majime .sideL .box ul { margin:0 auto 8px auto; width:330px;}
.majime .sideL .box ul li {
	margin:0 0 5px 0;
}
.majime .sideL .box ul li span {
	margin:0 5px 0 0;
	width:64px;
	font-weight:bold;
}

.majime .sideL .box.column2 ul /*--- トピックス/新商品情報 ---*/ {
	margin:0 13px 8px 10px;
	width:217px;
	float:left;
}
.majime .sideL .box.column2 img {
	margin-right:10px;
	width:100px;
	float:right;
}


/*////////// icon //////////*/

/*--- 機種総評＆検証 アイコン ---*/
.majime .sideL .box ul a.word,
.majime .sideL .box ul a.pdf {
	margin-right:10px;
	padding:2px 0 0 25px;
	height:16px;
}
.majime .sideL .box ul a.word { background:url(../img/ico_word.gif) no-repeat;}
.majime .sideL .box ul a.pdf { background:url(../img/ico_pdf.gif) no-repeat;}


/*////////// button //////////*/

/*--- 一覧を見るボタン ---*/
.majime .sideL .box .listBtn {
	margin:0 auto;
	padding:10px 0;
	width:330px;
	border-top:1px #CCC dashed;
	overflow:hidden;
}

/*--- 一覧を見るボタン ---*/
.majime .sideL .box.twitter .listBtn,
.majime .sideL .box.blog .listBtn {
	margin:0 auto;
	padding:0;
	width:330px;
	border:0;
	overflow:hidden;
}


/*////////// box //////////*/

/*--- Twitterキャッチ / ブログキャッチ ---*/

.majime .sideL .box.twitter,
.majime .sideL .box.blog {
	background: none repeat scroll 0 0 #FFF;
	border:5px #FF9900 solid;
    border-radius: 7px 7px 7px 7px;
    font-size:12px;
    padding:10px;
}

.majime .sideL .box.twitter ul,
.majime .sideL .box.blog ul {
	margin:0;
	width:320px;
}
.majime .sideL .box.twitter li,
.majime .sideL .box.blog li {
	margin-bottom:10px;
	padding:0 0 7px 0;
	width:320px;
	border-bottom:1px #FF9900 dashed;
}

.majime .sideL .box.twitter li h2,
.majime .sideL .box.blog li h2 {
	margin:0;
	padding:7px 0 0 40px;
	height:22px;
	background:url(../img/ico_twt_blg.gif) no-repeat;
	font-size:16px;
	font-weight:bold;
}
.majime .sideL .box.twitter li h2 { background-position:0 0;}
.majime .sideL .box.blog li h2 { background-position:0 -29px;}

/*--- Twitterキャッチ list ---*/
.majime .sideL .box.twitter li:last-child {	padding:0;}
.majime .sideL .box.twitter li span { width:320px; display:block; clear:both;}
.majime .sideL .box.twitter li p { margin:0 0 10px 0;}


/*--- Newgin square 管理メニュー / 各サービスへのリンク ---*/
.majime .sideL .box.portalMenu {
	background:#FFF;
	border:2px #666 solid;
}
.majime .sideL .box.portalMenu h2 {
	margin:0 0 10px 0;
	padding:10px 15px;
	height:15px;
	background:#666;
	color:#FFF;
	font-size:16px;
	font-weight:bold;
}
.majime .sideL .box.portalMenu li { margin:0 0 5px 0; overflow:hidden;}
.majime .sideL .box.portalMenu li p {
	padding:0 0 0 13px;
	background:url(../../common/img/ico_arrow_small.png) no-repeat 0 5px;
	line-height:1.4em;
	float:left;
}
.majime .sideL .box.portalMenu ul.serviceLink li p { margin-right:10px; width:145px;}
.majime .sideL .box.portalMenu ul.serviceLink li p:last-child { margin-right:0;}


/*////////////////////////////////////////////////////////////////////////////////*/


/*  centerBox
----------------------------------------------------------------------------------*/

.majime .cntC {
	margin:0 25px 0 0;
	width:384px;
	float:left;
}


/*////////// message box //////////*/

.majime .msgBox {
	margin:0 0 20px 0;
	padding:65px 20px 20px 20px;
	width:344px;
	height:109px;
	background:url(../img/box_ceo_msg.gif) no-repeat;
}
.majime .msgBox h3 {
	margin-top:0;
	margin-bottom:5px;
	color:#D70112;
	font-size:14px;
	font-weight:bold;
}


/*////////// button //////////*/

/*--- 社長メッセージ ---*/
.majime .msgBox .listBtn {
	margin:20px 0 0 0;
	overflow:hidden;
}

/*////////// title //////////*/

.majime .cntC .box .ttl {
	margin:0 0 10px 0;
	width:384px;
	height:41px;
	background:url(../img/ttl_center.jpg) no-repeat;
	color:#FFF;
	font-size:0;
	text-indent:-9999px;
}
.majime .cntC .box.management .ttl /*--- 経営陣(役員)との意見交換箱 ---*/ { background-position:0 0;}
.majime .cntC .box.realtime .ttl /*--- リアルタイム社内報告 ---*/ { background-position:0 -41px;}
.majime .cntC .box.question .ttl /*--- みんなのアンケートBOX ---*/ { background-position:0 -82px;}
.majime .cntC .box.idea .ttl /*--- 製品アイデア投稿広場 ---*/ { background-position:0 -123px;}
.majime .cntC .box.suggestion .ttl /*--- ニューギン目安箱・掲示板 ---*/ { background-position:0 -164px;}
.majime .cntC .box.prize .ttl /*--- 懸賞金付き募集コンテンツ ---*/ { background-position:0 -205px;}


/*////////// list //////////*/

.majime .cntC .box ul {
	margin:0 10px;
	width:364px;
}
.majime .cntC .box ul li {
	margin:0 0 3px 0;
	padding:5px 0;
	border-bottom:1px #CCC dashed;
	overflow:hidden;
}
.majime .cntC .box ul li span {
	margin:0 7px 0 0;
	font-weight:bold;
}
.majime .cntC .box ul p.count {
	width:85px;
	float:right;
}

/*--- 経営陣(役員)との意見交換箱 list ---*/
.majime .cntC .box.management ul li span {
	margin:0 5px 0 0;
	width:64px;
	font-weight:bold;
}

/*--- リアルタイム社内報告 list ---*/
.majime .cntC .box.realtime ul li div { float:left;}
.majime .cntC .box.realtime ul li div.ico {
	margin:0 10px 0 0;
	width:36px;
	height:27px;
	background:url(../img/ico_realtime.gif) no-repeat;
	color:#FFF;
	display:block;
	font-size:0;
	text-indent:-9999px;
}
.majime .cntC .box.realtime ul li div.ico.help { background-position:0 0;}
.majime .cntC .box.realtime ul li div.ico.eigyou { background-position:0 -27px;}
.majime .cntC .box.realtime ul li div.ico.uwasa { background-position:0 -54px;}
.majime .cntC .box.realtime ul li div.ico.seizou { background-position:0 -81px;}
.majime .cntC .box.realtime ul li div.ico.gyousei { background-position:0 -108px;}
.majime .cntC .box.realtime ul li div.ico.hall { background-position:0 -135px;}
.majime .cntC .box.realtime ul li div.ico.kaihatsu { background-position:0 -162px;}
.majime .cntC .box.realtime ul li div.ico.kyougou { background-position:0 -189px;}
.majime .cntC .box.realtime ul li div.ico.other { background-position:0 -216px;}

.majime .cntC .box.realtime ul li div p { margin:5px 0 0 0;}

/*--- みんなのアンケートBOX list ---*/
.majime .cntC .box.question ul li div,
.majime .cntC .box.question ul li p { float:left;}
.majime .cntC .box.question ul li div.ico {
	margin:0 10px 0 0;
	width:36px;
	height:27px;
	background:url(../img/ico_question.gif) no-repeat;
	color:#FFF;
	display:block;
	font-size:0;
	text-indent:-9999px;
}
.majime .cntC .box.question ul li div.ico.open { background-position:0 0;}
.majime .cntC .box.question ul li div.ico.syuuryou { background-position:0 -27px;}


/*--- 製品アイデア投稿広場 list ---*/
.majime .cntC .box.idea ul { margin:0 0 8px 10px;}
.majime .cntC .box.idea ul li {
	width:100%;
	margin:0 0 5px 0;
	float:left;
}
.majime .cntC .box.idea ul li p a.threadName {
	display:block;
}
.majime .cntC .box.idea ul li div { margin-left:73px;}
.majime .cntC .box.idea ul li div p { margin:0 5px 0 0; float:left;}
.majime .cntC .box.idea ul li div p.comment {
	margin:0 10px 0 0;
	width:120px;
}
.majime .cntC .box.idea ul li p.star {
	margin:3px 0 0 0;
	width:60px;
	height:12px;
	background:url(../../common/img/evaluate_star.gif) no-repeat 0 0;
	background-position:-23px 0px;
}

 /*--- ニューギン目安箱・掲示板 list ---*/
.majime .cntC .box.suggestion ul li a {
	margin:0 10px 0 0;
}

/*--- 懸賞金付き募集コンテンツ list ---*/
.majime .cntC .box.prize ul li div { margin-top:3px; margin-left:73px;}
.majime .cntC .box.prize ul li div p.comment {
	margin:0 10px 0 0;
	float:left;
}


/*////////// button //////////*/

/*--- 一覧を見るボタン ---*/
.majime .cntC .box .listBtn {
	margin:0 auto;
	padding:5px 0 10px 0;
	width:364px;
	overflow:hidden;
}

/*////////////////////////////////////////////////////////////////////////////////*/

/*  sideR
----------------------------------------------------------------------------------*/

.majime .sideR {
	width:186px;
	float:left;
}

/*////////// title //////////*/

.majime .sideR .box .ttl {
	margin:0;
	width:186x;
	color:#FFF;
	font-size:0;
	text-indent:-9999px;
}

 /*--- お祝い / ランキング ---*/ 
.majime .sideR .box.celebrate .ttl, .majime .sideR .box.ranking .ttl{
	height:60px; 
	background:url(../img/ttl_side_r01.jpg) no-repeat;
}
.majime .sideR .box.celebrate .ttl { background-position:0 0;}
.majime .sideR .box.ranking .ttl { height:60px; background-position:0 -60px;}

/*--- 今日の社員ピックアップ / 今週の拠点からのNews! / 教えて総務さん！FAQ ---*/ 
.majime .sideR .box.pickup .ttl,
.majime .sideR .box.base-news .ttl,
.majime .sideR .box.faq .ttl{
	height:40px;
	background:url(../img/ttl_side_r02.jpg) no-repeat;
}
.majime .sideR .box.pickup .ttl { background-position:0 0;}
.majime .sideR .box.base-news .ttl{ background-position:0 -40px;}
.majime .sideR .box.faq .ttl{ background-position:0 -80px;}

/*--- 人事からのお知らせ / 総務からのお知らせ ---*/
.majime .sideR .box.jinji .ttl,
.majime .sideR .box.soumu .ttl {
	height:31px; 
	background:url(../img/ttl_side_r03.jpg) no-repeat;
}
.majime .sideR .box.jinji .ttl { background-position:0 0;}
.majime .sideR .box.soumu .ttl { background-position:0 -31px;}


/*////////// button //////////*/


 /*--- 一覧を見るボタン ---*/
.majime .sideR .box .listBtn {
	margin:0 auto;
	padding:10px;
	width:162px;
	border-top:1px #CB0210 dashed;
	overflow:hidden;
}

/*////////// list //////////*/

/*--- dl orenge ---*/
.majime .sideR .box.orange dl { margin:0;}
.majime .sideR .box.orange dl dt {
	padding:3px;
	background:#FFDBA6;
	color:#CB0210;
	font-weight:bold;
	text-align:center;
}
.majime .sideR .box.orange dl dd {
	margin:0;
	padding:7px;
	border-bottom:1px #CB0210 dashed;
}
.majime .sideR .box.orange dl dd:last-child { border-bottom:none;}
.majime .sideR .box.orange dl dd p.area { font-weight:bold;}

/*--- dl pink ---*/
.majime .sideR .box.pink dl { margin:0;}
.majime .sideR .box.pink dl dt {
	padding:3px;
	background:#F8CFCF;
	color:#CB0210;
	font-weight:bold;
	text-align:center;
}
.majime .sideR .box.pink dl dd {
	margin:0;
	padding:7px 7px 5px 7px;
	border-bottom:1px #CB0210 dashed;
}
.majime .sideR .box.pink dl dd:last-child { border-bottom:none; font-weight:normal;}


/*--- お祝い list ---*/
.majime .sideR .box.celebrate div {
	background:#FFF;
	border:2px #FF6600 solid;
}

/*--- 今日の社員ピックアップ list ---*/
.majime .sideR .box.pickup li {
	margin:5px 0;
	overflow:hidden;
}
.majime .sideR .box.pickup li div.face {
	margin:0 10px 0 0;
	width:70px;
	background:#FFF;
	border:1px #CCC solid;
	text-align:center;
	float:left;
}
.majime .sideR .box.pickup li .subttl {
	margin:5px 0;
	padding:0 0 5px 0;
	border-bottom:1px #999 dashed;
	font-size:12px;
	font-weight:bold;
}

/*--- 今週の拠点からのNews! list ---*/
.majime .sideR .box.base-news p {
	margin:5px 0;
	width:186px;
	float:left;
}
.majime .sideR .box.base-news span { margin:0 10px 0 0; float:left;}
.majime .sideR .box.base-news span.imgBox {
	margin:0 0 9px 0;
	width:70px;
	background:#FFF;
	border:1px #CCC solid;
	display:block;
	text-align:center;
	clear:both;
}

/*--- ランキング list ---*/
.majime .sideR .box.ranking div {
	background:#FFF;
	border:2px #CB0210 solid;
}
.majime .sideR .box.ranking dl dd { font-weight:bold;}
.majime .sideR .box.ranking dl dd ol { margin:auto 5px auto 22px; list-style-type:decimal;}
.majime .sideR .box.ranking dl dd ol li { margin-bottom:5px;}
.majime .sideR .box.ranking dl dd ol li span { display:block; line-height:1.2;}

/*--- 拠点＆メンバー紹介 ---*/
.majime .sideR .box.map {
	width:186px;
	height:164px;
	background:url(../img/ttl_side_r_map.jpg) no-repeat;
	color:#FFF;
	font-size:0;
	text-indent:-9999px;
}
.majime .sideR .box.map a {
	width:186px;
	height:164px;
	display:block;
}

/*--- 人事からのお知らせ list ---*/
.majime .sideR .box.jinji div {
	background:#FFF;
	border:2px #666 solid;
}

/*--- 総務からのお知らせ list ---*/
.majime .sideR .box.soumu div {
	background:#FFF;
	border:2px #CB0210 solid;
}
.majime .sideR .box span.important {
	margin:2px 7px 0 0;
	width:27px;
	height:15px;
	background:url(../img/ico_information.gif) no-repeat;
	color:#FFF;
	display:block;
	font-size:0;
	text-indent:-9999px;
	float:left;
}

/*--- 教えて総務さん！FAQ list ---*/
.majime .sideR .box.faq ul { margin:5px 0;}
.majime .sideR .box.faq li {
	padding:0 10px 10px 13px;
	background:url(../../common/img/ico_arrow_small.png) no-repeat 0 5px;
	line-height:1.4em;
}


/*////////////////////////////////////////////////////////////////////////////////*/